/* 背景の設定 */
body {
  position: fixed;
  background-image: url("./ImageSource/20191210-1.jpg");
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top 0% left 50%;
}

/* タイトルのフォント設定 */
h1 {
  font-size: 50px;
  text-align: center;
}

/* サイトの文字設定 */
p {
  font-size: 20px;
  text-align: center;
}

/* テキストを中央に配置 */
.centering-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 20px;
}

/* エラーメッセージのカラーを設定 */
#error {
  color: red;
}

/* 入力フォームのレイアウト設定 */
input {
  margin: 10px;
  font-size: 1em;
  padding: 15px 10px 10px;
  font-family: "Source Sans Pro", arial, sans-serif;
  border: 1px solid #313131;
  background: #ffffff;
  color: #313131;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
  vertical-align: middle;
}

/* ボタンを中央に配置 */
bottom {
  vertical-align: middle;
}

/* ボタンのレイアウトを変更 */
.btn {
  border: 2px solid #313131;
  padding: 7px 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

/* ボタンホバー時・押下時の動作を設定 */
.btn:hover {
  background: #313131;
  color: #fff;
}
.btn:active {
  top: 2px;
}

/* アイテムを中央に配置 */
.centering-item {
  width: 400px;
  margin: 0 auto;
}
